.footer_title{
    text-align: center; 
    font-family: serif;
    font-size: 16px;
    font-weight: bolder;
    color: #d79d0c;
    padding-top: 10px;
    box-sizing: border-box;
}

.footer_box{
    color: white; 
    text-align: center;
}

.footer_justify_text{
    color: white; 
    text-align: justify; 
    text-justify: inter-word;
}

.footer_background{
    background-color: #212529;
}

#footer_hr{
    background-color: #dae0e5;
}

#footer_copyright{
    color: greenyellow;
}

#header_log_in{
    text-align: right;
}

#top{
    overflow: hidden;
    height: auto;
    text-align: center;
}

.meni-linkovi{
    color: #d79d0c;
    font-weight: bolder;
    font-family: serif;
    font-size: 18px;
    margin-right: 15px;
    margin-left: 15px;
}

.mynav a:hover{
    border-bottom: 2px solid #181174;
}

#registracija a{
    color: red;
    
}

#registracija a:hover{
    color: red;
}

.registracija_title{
    font-size: 25px;
    font-weight: 500;
}

.registracija_greska_ispis{
    font-size: 11px;
    color: red;
}

#header_logo_align{
    text-align: center;
}

#header_logo_style{
    text-decoration: none;
}

#header_logo_title{
    font-size: 30px;
    font-weight: bold;
    font-family: serif;
}

#header_logo_subtitle{
    font-family: cursive; 
    color: #ce9d0c; 
    font-size: 15px;
}

#header_nalog_link_position{
    text-align: center; 
    padding-top: 20px;
}

.header_nalog_link{
  color: #d79d0c; 
  font-family: serif; 
  font-size: 17px;  
}

#header_korpa_link{
    color: #d79d0c; 
    font-family: serif; 
    font-size: 17px; 
    padding-left: 25px;
}

#kontejner_padding{
    padding: 0px 0px;
}

#kolona_padding{
    padding: 0px 0px;
}

#moj_nalog_content_height{
    height: 800px;
}

.log_in_field{
    width: 70%;
}

#proizvodi_sidemenu_border{
    border-right: solid 1px #bbc4ce;
}

#proizvodi_sidemenu_title{
    color: black; 
    font-weight: 500;
}

#proizvodi_filter_button{
    background-color: #41b35b; 
    color: white;
}

#proizvodi_sidemenu_links{
    border-top: solid 1px; 
    border-top-color: #bbc4ce;
}

#proizvodi_border_bottom{
    border-bottom: solid #bbc4ce 1px;
}

#proizvodi_img_position{
    width: 25%; 
    margin: auto;
}

#proizvodi_img{
    width: auto; 
    margin: auto; 
    height: 150px;
}

#proizvodi_karakeristike_div{
    width: 50%; 
    margin: auto;
}

#proizvodi_cena_div{
    width: 25%; 
    margin: auto;
}

#proizvodi_title{
    font-size: 14px;
    font-weight: 700;
}

.proizvodi_karakeristike{
    font-size: 12px;
    font-weight: 700;
}

#proizvodi_cena{
    font-size: 21px;
    font-weight: 900;
    color: #348634;
}

.proizvodi_detaljnije_title{
    font-size: 20px; 
    font-weight: 600; 
    font-family: serif;
}

.proizvodi_detaljnije_rok_isp{
    font-size: 13px; 
    font-family: sans-serif;
}

.proizvodi_detaljnije_rok{
    font-weight: 600; 
    color: #348634; 
    font-size: 18px;
}

.proizvodi_detaljnije_cena{
    font-size: 30px; 
    font-weight: 500; 
    color: #348634;
}

.proizvodi_detaljnije_spec{
    font-size: 30px; 
    font-family: serif;
}

.proizvodi_detaljnije_table_column_left{
    width: 30%;
}

.proizvodi_detaljnije_table_column_right{
    width: 70%;
}

.proizvodi_karak_tekst{
    font-size: 14px;
    font-family: serif;
}

#korpa_empty_img{
    width: 100px;
}

#korpa_empty_title{
    font-size: 27px; 
    font-weight: bolder
}

#korpa_empty_link{
    color: green; 
    font-weight: bold; 
    text-decoration: underline;
}

#korpa_title{
    font-size: 25px; 
    font-family: serif; 
    font-weight: 500;
}

#korpa_row_header{
    border-top: 1px solid #bbc4ce; 
    border-bottom: 1px solid #bbc4ce;
}

#korpa_proizvod_border_bottom{
    border-bottom: 1px solid #bbc4ce;
}

#korpa_proizvod_img{
    width: 90px;
}

.pocetna_str_meni_border{
    border-top: 1px solid black; 
    border-bottom: 1px solid black; 
    background-color: #00ffa15c;
}

.pocetna_meni_title{
    font-weight: bold; 
    color: black;
}

.pocetna_ponuda_div{
    width: 100%; 
    border-right: 1px solid #0000002e;
}

.pocetna_ponuda_div_half{
    width: 50%;
}

.pocetna_img{
    width: 100px;
}

.pocetna_ponuda_title{
    color: red; 
    font-weight: 500;
}